<%= form_for(@user) do |f| %>
	<% if @user.errors.any? %>
		<div id="error_explanation">
			<h2><%= pluralize(@user.errors.count, "error") %> prohibited this message from being saved:</h2>
			<ul>
				<% @user.errors.full_messages.each do |msg| %>
					<li><%= msg %></li>
				<% end %>
			</ul>
		</div>
	<% end %>
	<fieldset>
		<div class="field">
			<%= f.label :name %><br />
			<%= f.text_field :name %>
		</div>
		<div class="field">
			<%= f.label :medium, "Enter the best means to contact you e.g @yourTwitterName, 07834567857, you@yourmail.com" %><br />
			<%= f.text_field :medium %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	</fieldset>
<% end %>
