<h1>User</h1>

<td>
	<dt><h3>Name:</h3></dt>
	<dd><%= content_tag :p, @user.name %></dd>
	<dt><h3>Medium:</h3></dt>
	<dd><%= content_tag :p, @user.medium %></dd>
	<dt><h3>Sent Messages:</h3></dt>
	<dd>
		<ul>
			<% @user.sent_messages.each do |message| %>
				<li>
					<%= content_tag :p, "<b>Sent on: #{message.created_at}</b>".html_safe %>
					<%= content_tag :p, message.body %>
				</li>
			<% end %>
		</ul>
	</dd>
</p>
<%= link_to 'Back', users_path %>